.counterDisplay {
	height: 200px;
	width: 300px;
	background-color: gray;
	font-size: 100px;
}

.targetBox {
	height: 200px;
	width: 300px;
	background-color: blue;
	font-size: 100px;
}

.winsLosses {
	height: 200px;
	width: 300px;
	background-color: green;
	font-size: 50px;
	text-align: center;
}

img {
	width: 200px;
}